{% extends 'baseF.html' %}
{% load static %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 col-lg-5 mb-5 text-center">
      <img src="{% static 'website/img/gallery/cta.png' %}" width="300" alt="cta" />
    </div>

    <div class="col-md-6 col-lg-5 text-center">
      <h5 class="text-primary font-sans-serif fw-bold">Password Reset Successful</h5>
      <p class="mb-4">Your password has been changed successfully. You can now log in with your new password.</p>
      <a href="{% url 'login' %}" class="btn btn-primary">Back to Login</a>
    </div>
  </div>
</div>
{% endblock %}
