{% extends 'baseF.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 col-lg-5 mb-5 text-center">
      <img src="{% static 'website/img/gallery/cta.png' %}" width="300" alt="cta" />
    </div>

    <div class="col-md-6 col-lg-5">
      <h5 class="text-primary font-sans-serif fw-bold">Reset Password</h5>
      <h1 class="mb-4">Enter your new password</h1>

      <form method="POST" class="mb-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary w-100 mb-3" type="submit">Change Password</button>
        <p class="text-center"><a href="{% url 'login' %}">Back to Login</a></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
